.awooc-hide {
    display: none;
}
.blockUI:before,
.single_add_to_cart_button,
input.qty,
.awooc-hidden-data {
    display: none !important;
}
.form-custom-order-footer{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.awooc-custom-order-wrap{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.awooc-col{
    align-self: center;
}
.awooc-form-custom-order-img{
max-width: 200px;
}
