.awooc-hide {
    display: none;
}

.blockUI:before,
.awooc-hidden-data {
    display: none !important;
}

.awooc-custom-order-wrap {
    padding: 1.125rem;
}

.awooc-form-custom-order-img {
    text-align: center;
}

.awooc-form-custom-order-img img {
    width: 100%;
    height: auto;
}

.awooc-custom-order-wrap .wpcf7-form-control {
    width: 100%;
    margin-bottom: 0.875rem;
    padding: .6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125);
}

.awooc-col {
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
}

.awooc-col.columns-left {
    text-align: left;
}

.awwoc-close {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.01);
}

.awwoc-close:hover {
    cursor: pointer;
}
.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
@media (min-width: 768px) {
    .awooc-col {
        width: 49%;
        padding: 0.875rem 0.875rem;
    }
}
